.password_content{margin-top:60px;}
.personal_title{border-bottom:1px solid #ccc;}
.p_label{display:block;width:68px;padding:15px 0px;border-bottom:3px solid #ff8328;color:#ff8328;}
.password_item{width:300px;margin:0 auto;margin-top: 20px;font-size:14px;color:#6c6c6c;height:30px;line-height:30px;}
.pl{width:80px;}
.p_text{width:180px;height:30px;border:1px solid #ccc;padding-left:5px;}
.password_sure{text-align:center;margin-top: 30px;}
.p_sure_btn{padding:5px 15px;padding:5px 60px;color:#fff;background:#ff8328;border:none;cursor:pointer;}

/**/
.p_01.bg_01{background:url(../images/icon.png) no-repeat -308px -31px;}
.p_02.bg_02{background:url(../images/icon.png) no-repeat -314px -87px;}
.p_03.bg_03{background:url(../images/icon.png) no-repeat -318px -150px;}

.p_01{background:url(../images/icon.png) no-repeat -385px -31px;}
.p_02{background:url(../images/icon.png) no-repeat -386px -90px;}
.p_03{background:url(../images/icon.png) no-repeat -386px -150px;}


/*账号绑定*/
.account_bound{margin-bottom: 100px;}
.account_content{width:320px;margin:0 auto;font-size:14px;color:#6c6c6c;}
.way_bound{margin-top:40px;}
.way_bound a{color:#ff8328;}
.title{margin-right: 30px;}
.success{padding:3px 0px 10px 20px;background:url(../images/icon.png) no-repeat -420px 0px;}