/*关注|预约*/
#model_001{width:100%;background:#232428;height:100px;}
#model_001 .m_content{position:relative;}
.intro_pic{height:100px;width:84px;margin-right:10px;float:left;margin-left:90px;background:url(../images/icon.png) no-repeat 0px 0px;}
.intro_detail_model001{color:#ccccad;height:100px;line-height: 100px;}
.intro_detail_model001 a{color:#ccc;font-size:14px;padding:0px 20px;font-weight:600;}
.intro_detail_model001 a.wd{font-size:18px;color:#fff;padding:0px 20px;}
.sv_title{position:relative;border-bottom:1px solid #ccc;}
.sv_title p{font-size:20px;padding:15px 0px;color:#ff8238;}
.sv_title .c_div{position:absolute;left:0;bottom:0;width:78px;height:3px;background:#ff8238;}
.sv_title .complete{position:absolute;right:0;bottom:5px;padding:5px 10px;border:1px solid #ff8238;}
.complete a{color:#ff8238;font-size:12px;}


.phone_number{margin-right:30px;}
.self_i{margin-bottom:30px;font-size:12px;color:#6c6c6c;}
.r_name{font-size:30px;font-weight: bold;color:#6c6c6c;}


/*图片内容|文字*/
#model_002{background: #e7e7e7;position:relative;}
#model_002 .m_002_l{width:120px;float:left;}
#model_002 .m_002_l.fixed{position:fixed;top:0;}
#model_002 .m_002_l span{display:block;text-align:center;}
#model_002 .m_002_r{float:right;width:880px;background:#fff;padding:0px 50px 120px 50px;}


#model_002 .m_002_r p.nr_p{font-size: 14px;color:#6b6b6b;margin-bottom: 30px;}
.color_t{color:#ff8328;margin-bottom: 20px;display:block;}
/*最近观点*/
#new_idea{padding-bottom:20px;padding-top:30px;border-bottom: 1px solid #ccc;position:relative;}
#new_idea h2{color:#ff8328;}
#new_idea .n_div{position:absolute;bottom:0;width:97px;height:3px;background:#ff8328;}
.add_re{display:block;color:#ff8328;position:absolute;right:0;bottom:10px;}
.b_border{border-bottom:1px solid #ccc;}


#product_name{padding: 15px 0px;}

/*小图标*/
.or_div{padding:10px 33px;color:#6b6b6b;position:relative;background:#e7e7e7;}
.or_div .icon_picture{width:54px;height:56px;margin-bottom:3px;display:block;} 
.or_div .pic_01{background: url(../images/icon.png) no-repeat -237px 2px;}
.or_div .pic_02{background: url(../images/icon.png) no-repeat -151px -45px;}
.or_div .pic_03{background: url(../images/icon.png) no-repeat -237px -101px;}
.or_div .lit_p{position:absolute;top:50%;margin-top:-8px;right:0;display:none;width:12px;height:14px;background:url(../images/icon.png) no-repeat -288px 0px;}
.or_div.bgcolor{background:#ff8328;color:#fff;}
.or_div .lit_p.appear{display:block;}
.or_div .pic_01.bg_01{background: url(../images/icon.png) no-repeat -182px 5px;} 
.or_div .pic_02.bg_02{background: url(../images/icon.png) no-repeat -95px -45px;}
.or_div .pic_03.bg_03{background: url(../images/icon.png) no-repeat -180px -101px;}

/*banner背面*/
#person_pic{margin-top:20px;margin-bottom:20px;position:relative;min-height:110px;max-height:500px;overflow: hidden;background:url(../images/ban_bg.png) no-repeat 50% 50%;}
.b_g_link{display:block;position:absolute;z-index:0;width:134px;height:30px;top:50%;left:50%;margin-top:-30px;margin-left:-68px;}
