/*搜索观点*/

#view_search{padding-bottom:50px;color:#6c6c6c;}
.s_p{font-size:12px;color:#6c6c6c;padding:10px 10px 20px 30px;}
.container{padding:0px 165px;}
.sv_title{position:relative;border-bottom:1px solid #ccc;}
.sv_title p{font-size:20px;padding:15px 0px;color:#ff8238;}
.sv_title .c_div{position:absolute;left:0;bottom:0;width:78px;height:3px;background:#ff8238;}
.sc_item{margin-top:20px;}
.sc_l{width:70px;text-align:center;font-size: 12px;}
.sc_r{width:630px;padding:0px 30px;}
.sc_r a{color:#6c6c6c;}
.sc_r .list{display:block;float:left;margin:0px 20px 10px 20px;width:60px;text-align:center;height:20px;line-height:20px;font-size: 12px;}
.sc_r .list.bg_c{background:#ff8238;color:#fff;}
.s_result{margin-top:20px;}
.search_kuang{position:absolute;right:0;bottom:10px;width:170px;height:30px;}
.search_kuang input{float:left;width:138px;height:30px;border:none;border-right:1px solid #ccc;border:1px solid #ccc;}
.search_kuang span{display:block;width:30px;height:32px;overflow:hidden;line-height:32px;text-align:center;background:#ccc;}
.search_kuang .search_go{color:#fff;}

/*搜索结果*/
.s_containter{padding:20px 0px 10px 10px;border-bottom:1px solid #ccc;}
.con_pic{width:180px;height:140px;overflow:hidden;}
.con_r{width:560px;margin-left:10px;}
.con_r h2{margin-bottom:20px;font-size:20px;font-weight:normal;}
.con_r h2 a{color:#1a1a1a;}
.con_r p.cp{margin-bottom:5px;font-size: 12px;line-height:18px;display:block;height:70px;overflow:hidden;}
.con_r p.bp{display:block;}

.b_l{height:30px;line-height: 30px;}
.b_l span{margin-right:20px;display:block;float:left;}
.b_picture{margin-right:10px;width:30px;height:30px;overflow:hidden;}
.b_l span.b_g{padding:0px 15px;height:20px;line-height:20px;margin-top:5px;background:#ccc;font-size:12px;}
.b_r{height:30px;line-height:30px;font-size: 12px;}
.b_date{margin-right:15px;}

/*页脚上下翻页*/
#next_above{margin-top: 40px;padding-top:45px;padding-bottom:30px;width:452px;margin:0 auto;}
#next_above span{margin-right:30px;font-family:arial;font-size: 12px;}
#next_above a{color:#666666;}
.b_page{padding:5px;cursor:pointer;}
.b_page.b_color{border:1px solid #ccc;color:#f59853;}